@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

#tribute-head {
	text-align: center;
	background: #e4e2e2;
	padding: 20px;
}

#title {
	font-size: 70px;
	margin: 10px 0;
	font-style: italic;
}

#img-div {
	width: 60%;
	margin: 0 auto;
}

#image {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

#img-caption {
	font-style: italic;
	font-size: 13px;
}

#tribute-info {
	text-align: center;
	max-width: 90%;
	margin: 0 auto;
}

#tribute-info ul {
	list-style: none;
}

#tribute-info ul li {
	margin-bottom: 30px;
}

#tribute-info ul li strong {
	display: block;
	background: #fdff32;
	width: 5%;
	margin: 10px auto;
}

.read_more {
	background: #3d404c;
	color: #fff;
	padding: 20px;
}

#tribute-link {
	color: #7373fd;
}